// => Button component
// ------------------------------------------------------------------------------

.btn {
    border-radius: 30px;
    padding: 10px 20px;
    text-transform: none;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: 600;

    @include media-breakpoint-up(lg) {
        padding: 12px 30px;
        font-size: 20px;
    }

    &-white {
        @include media-breakpoint-up(lg) {
            background: #fff;
            color: #404040;
        }

        &:not([disabled]):hover {
            background-color: #333;
        }
    }

    &-scroll {
        border-radius: 100%;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
        width: 48px;
        height: 48px;
        padding: 0;
        background: url("arrow-down.svg") #fff no-repeat 50% 50%;
        animation-name: bounce;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;

        &:not([disabled]):hover {
            background: url("arrow-down.svg") #fff no-repeat 50% 50%;
        }
    }
}
