// => Card component
// ------------------------------------------------------------------------------

.card-product {
    margin-bottom: 30px;

    &__details {
        background: #FAFAFA;
        border: 1px solid #EEEEEE;
        border-radius: 10px;
        padding: 20px;

        .form-control {
            width: 150px;
        }
    }

    &__thumb {
        margin: 0;
        position: relative;

        > div {
            position: relative;
            height: 0;
            overflow: hidden;
            padding-bottom: 100%;

            > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }

    &__title {
        font-weight: 600;
        margin-bottom: 15px;

        @include media-breakpoint-up(lg) {
            font-size: 22px;
        }
    }

    &__link {
        text-decoration: underline;
        font-size: 18px;
        margin-bottom: 15px;
    }

    &__price {
        line-height: 130%;
        font-weight: 600;
        margin-bottom: 15px;

        @include media-breakpoint-up(lg) {
            font-size: 22px;
        }
    }

    &__add-to-cart-btn {
        color: #333;
        background: #FFB800;
        font-weight: 700;
    }

    &-sm {
        text-align: center;

        form {
            margin-bottom: 15px;

            .form-group {
                margin-right: 8px;
                margin-bottom: 0;

                .form-control {
                    min-width: 80px;
                }
            }
        }

        .card-product__title, .card-product__price {
            font-size: 18px;
        }

        .card-product__thumb {
            > div > img {
                object-fit: contain;
            }
        }

        .card-product__add-to-cart-btn {
            color: #333;
            background: #fff;
            font-weight: 400;
            font-size: 32px;
            padding: 0;
            width: 42px;
            height: 42px;
            border: 1px solid #333;
        }
    }
}
