// => Main Components
// ------------------------------------------------------------------------------

.article-header {
    position: relative;
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
        margin-top: -55px;
        margin-bottom: 70px;
    }

    .article-header__figure {
        width: 100%;
    }

    > .container-fluid {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        @include media-breakpoint-up(lg) {
            position: absolute;
            color: #fff;
            margin-bottom: 0;
            padding-right: 50px;
            padding-left: 50px;
            margin-bottom: 30px;
            font-size: 28px;

            h2 {
                font-size: 42px;
            }

            p {
                color: #fff;
            }
        }
    }
}

.section {
    .section__title {
        font-size: 22px;
        font-weight: 600;

        @include media-breakpoint-up(lg) {
            font-size: 28px;
        }
    }
}

@keyframes bounce {
    0%, 20%, 53%, to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform:translateZ(0)
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform:translate3d(0, -30px, 0) scaleY(1.1)
    }

    70% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform:translate3d(0, -15px, 0) scaleY(1.05)
    }

    80% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform:translateZ(0) scaleY(.95)
    }

    90% {
        transform:translate3d(0, -4px, 0) scaleY(1.02)
    }
}


