// => Type component
// ------------------------------------------------------------------------------

a {
    &:hover {
        text-decoration: none;
    }
}

hr {
    margin-top: 25px;
}

p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 130%;

    @include media-breakpoint-up(lg) {
        margin-bottom: 30px;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    letter-spacing: 0;
    line-height: 110%;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 30px;
    }
}
