<article class="article">
    <header class="article-header">
        <div class="container-fluid">
            <h1 class="sr-only">{{ page.title }}</h1>
            <div class="row">
                <div class="col-lg-6">
                    {% if page.content.size > 0 %}
                        {{ page.content }}
                    {% endif %}
                    <a href="#" class="btn btn-white">Buy now ›</a>
                </div>
            </div>
            <button class="btn btn-white btn-scroll d-none d-lg-block"><span class="sr-only">Scroll down</span></button>
        </div>
        <figure class="article-header__figure"><img src="{{ 'bg.png' | asset_img_url: '2732x' }}" alt="Invest in your health with an indoor garden"></figure>
    </header>
    <section class="section" id="section01">
        <div class="container">
            <h2 class="section__title text-center">{{ collections.smart-gardens.title }}</h2>
            <ul class="row">
                {% for product in collections.smart-gardens.products %}

                {%- assign current_variant = product.selected_or_first_available_variant -%}
                {%- assign price = current_variant.price -%}

                    <li class="col-md-6">
                        <article class="card-product">
                            <div class="row">
                                <div class="col-lg-6 mb-2 mb-lg-0">
                                    <figure class="card-product__thumb"><div><img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" /></div></figure>
                                    <a class="card-product__link" href="{{ product.url }}">Go to product page ›</a>
                                </div>
                                <div class="col-lg-6">
                                    <h3 class="card-product__title"><b>{{ product.title }}</b></h3>
                                    <p>{{ product.metafields['Short Description']['short_desc'] }}</p>
                                    <div class="card-product__details">
                                        <form action="/cart/add" method="post">
                                            <div class="form-group">
                                                <label>Choose color:</label>
                                                <select name="id" id="variantSelect" class="form-control mb-3">
                                                    {% for variant in product.variants %}
                                                        {% if variant.available %}
                                                            <option value="{{ variant.id }}" data-price="{{ variant.price | money }}" data-image="{{ variant.image.src | img_url: 'large' }}">{{ variant.title }}</option>
                                                        {% else %}
                                                            <option disabled="disabled">{{ variant.title }} - Sold Out</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <p class="card-product__price">{{ price | money }}<b></b></p>
                                                <button type="submit" class="btn card-product__add-to-cart-btn"><span>Add to cart ›</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ul>
            <hr>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="section__title text-center">{{ collections.refills.title }}</h2>
            <ul class="row clearfix">
                {% for product in collections.refills.products %}

                    {%- assign current_variant = product.selected_or_first_available_variant -%}
                    {%- assign price = current_variant.price -%}

                    <li class="col-6 col-sm-4 col-lg-2">
                        <article class="card-product card-product-sm">
                            <figure class="card-product__thumb"><div><img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" /></div></figure>
                            <h3 class="card-product__title"><b>{{ product.title }}</b></h3>
                            <form class="d-flex justify-content-center" action="/cart/add" method="post">
                                <div class="form-group">
                                    <select class="form-control" name="id" id="variantSelect">
                                        {% for variant in product.variants %}
                                            {% if variant.available %}
                                                <option value="{{ variant.id }}" data-price="{{ variant.price | money }}">{{ variant.title }}</option>
                                            {% else %}
                                                <option disabled="disabled">{{ variant.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" name="add" class="btn card-product__add-to-cart-btn">
                                    <span>+</span>
                                </button>
                            </form>

                            <p class="card-product__price">{{ price | money }}<b></b></p>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</article>
